/* HEADER */
.header{
    width: 100%;
    height: 300px;
    outline: 2px solid black;
}
.flex{
    display: flex;
    justify-content: space-between;
    outline: 2px solid black;
}
.logo{
    outline: 2px solid orange;
    height: 30px;
    width: 100px;
    text-align: center;
    
}
.navigation{
    outline: 2px solid orange;
    height: 30px;
    width: 100px;
    text-align: center;
}
/* BANNER*/
.banner{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    outline: 2px solid red;
    height: 150px;
}
.text{
    width: 400px;
    height: 150px;
    outline: 2px solid blue;
    text-align: center;
}
.image{
    width: 400px;
    height: 150px;
    outline: 2px solid blue;
    text-align: center;
}
/* ICONS*/
.icons{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    outline: 2px solid darkcyan;
    height: 50px;
}
.icon1{
    outline: 2px solid green;
    height: 50px;
    width: 100px;
    text-align: center;
}
.icon2{
    outline: 2px solid green;
    height: 50px;
    width: 100px;
    text-align: center;
}
.icon3{
    outline: 2px solid green;
    height: 50px;
    width: 100px;
    text-align: center;
}
.icon4{
    outline: 2px solid green;
    height: 50px;
    width: 100px;
    text-align: center;
}
.icon5{
    outline: 2px solid green;
    height: 50px;
    width: 100px;
    text-align: center;
}
.icon6{
    outline: 2px solid green;
    height: 50px;
    width: 100px;
    text-align: center;
}

/* part 2*/
/*top*/
.aboutcontainer{
    width: 100%;
    height: 400px;
    outline: 2px solid black;
}
.aboutus{
    text-align: center;
    outline: 2px solid blueviolet;
    height: 30px;
}
.para{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.para1{
    height: 150px;
    width: 300px;
    outline: 2px solid red;
    text-align: center;
}
.para2{
    height: 150px;
    width: 300px;
    outline: 2px solid red; 
    text-align: center;
}

/*image part*/
.img{
    display: flex;
    justify-content: space-evenly;
    outline: 2px solid saddlebrown;
    height: 180px;
    width: 100%;
}
.image1{
    height: 150px;
    width: 300px;
    outline: 2px solid hotpink;
    text-align: center; 
    margin: 25px;
}
.content{
    outline: 2px solid hotpink;
    height: 150px;
    width: 200px;
    margin: 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.con1{
    height: 50px;
    width: 70px;
    outline: 2px solid red;
    margin: 10px;
    text-align: center;
}

/* part-3*/
/*top*/
.servicecontainer{
    outline: 2px solid black;
    height: 500px;
    width: 100%;
}
.flex2{
    text-align: center;
}
.services{
    text-align: center;
    outline: 2px solid blueviolet;
    height: 30px;
}
/* middle*/
.info{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    outline: 2px solid darkgoldenrod;
}
.in{
    height: 120px;
    width: 100px;
    outline: 2px solid darkgoldenrod;
    text-align: center;
}
/* bottom*/
.set{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid paleturquoise;
    height: 300px;
    width: 1000px;
    margin-left: 250px;
}
.group{
    height: 100px;
    width: 400px;
    outline: 2px solid greenyellow;
    text-align: center;
    margin: 20px;
}

/* part-4 */
.featurescontainer{
    outline: 2px solid black;
    height: 600px;
}
.flex3{
    text-align: center;
    outline: 2px solid red;
    height: 35px;
}
.texticon{
    display: flex;
    justify-content: space-evenly;
    outline: 2px solid khaki;
    height: 500px;
    flex-wrap: wrap;
    margin: 40px;
}
.textlogo{
    outline: 2px solid darkorchid;
    height: 100px;
    width: 350px;
    margin-top: 50px;
    text-align: center;
}

/*part-5*/
/*top*/
.testimonialscontainer{
    outline: 2px solid black;
    height: 400px;
}
.flex4{
    text-align: center;
    outline: 2px solid blue;
    height: 40px;
}

/*bottom*/
.data{
    display: flex;
    justify-content: space-evenly;
    outline: 2px solid darkcyan;
    height: 250px;
    margin: 50px;
    margin-bottom: 15px;
}
.data1{
    outline: 2px solid darkorange;
    height: 200px;
    width: 200px;
    margin: 40px;
    text-align: center;
}

/*part-6*/
/*top*/
.portfoliocontainer{
    height: 530px;
    outline: 2px solid black;
}
.flex6{
    text-align: center;
    outline: 2px solid skyblue;
    height: 50px;
}
/*bottom*/
.data6{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    outline: 2px solid red;
    height: 470px;
    margin: 5px;
}
.sixdata{
    outline: 2px solid darkmagenta;
    height: 120px;
    width: 400px;
    margin: 20px;
    text-align: center;
}
/*part-7*/
/*top*/
.teamcontainer{
    outline: 2px solid black;
    height: 380px;
}
.flex7{
    text-align: center;
    outline: 2px solid darkorange;
    height: 40px;
}
.data7{
    display: flex;
    justify-content: space-evenly;
    outline: 2px solid blue;
    margin: 10px;
}
.sevendata{
    outline: 2px solid firebrick;
    height: 200px;
    width: 200px;
    margin: 50px;
    text-align: center;
}

/*part-8*/
/*top*/
.pricingcontainer{
    outline: 2px solid black;
    height: 300px;
}
.flex8{
    text-align: center;
    outline: 2px solid crimson;
    height: 40px;
}
/*bottom*/
.data8{
    display: flex;
    justify-content: space-evenly;
    outline: 2px solid rgb(84, 7, 104);
    height: 250px;
    margin: 5px;
}
.eightdata{
    outline: 2px solid rgb(2, 183, 41);
    height: 200px;
    width: 200px;
    margin: 25px;
    text-align: center;
}
/*part-9*/
/*top*/
.faqcontainer{
    outline: 2px solid black;
    height: 520px;
}
.flex9{
    text-align: center;
    outline: 2px solid rgb(14, 92, 89);
    height: 40px;
}
/*bottom*/
.data9{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    outline: 2px solid rgb(255, 0, 0);
    height: 450px;
}
.ninedata{
    outline: 2px solid blue;
    height: 80px;
    width: 600px;
    margin: 5px;
    text-align: center;
}

/*part-10*/
/*top*/
.contactuscontainer{
    outline: 2px solid black;
    height: 400px;
}
.flex10{
    text-align: center;
    outline: 2px solid rgb(32, 144, 182);
    height: 40px;
}

/*bottom*/
.data10{
    display: flex;
    justify-content: space-between;
    outline: 2px solid rgb(67, 67, 229);
    margin: 40px;
}
.tendata{
    outline: 2px solid rgb(5, 255, 5);
    height: 300px;
    width: 750px;
    text-align: center;
    margin: 5px;
}